<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc     http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd 
">

	<!-- scan cac bean trong package com -->
	<context:component-scan
		base-package="com.controller" />

	<!-- su dung anotation -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- tro toi cac file static nhu css, js -> giup spring hieu -->
	<mvc:resources location="/static/"
		mapping="/resources/**" cache-period="31556926" />

	<!-- Configuration defining views files -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">

		<!-- neu order = 1 cung ko tim thay file, spring se xuat log fileNotFound -->
		<property name="order" value="1"></property>
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:jdbc.properties</value>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName"
			value="${jdbc.driverClassName}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties"
			value="classpath:hibernate.properties"></property>
		<property name="mappingResources">
			<list>
				<value>com/model/mapping/Auth.hbm.xml</value>
				<value>com/model/mapping/Category.hbm.xml</value>
				<value>com/model/mapping/History.hbm.xml</value>
				<value>com/model/mapping/Invoice.hbm.xml</value>
				<value>com/model/mapping/Menu.hbm.xml</value>
				<value>com/model/mapping/ProductInfo.hbm.xml</value>
				<value>com/model/mapping/ProductInStock.hbm.xml</value>
				<value>com/model/mapping/Role.hbm.xml</value>
				<value>com/model/mapping/UserRole.hbm.xml</value>
				<value>com/model/mapping/Users.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource" /> <property name="configLocation" 
		value="classpath:hibernate.cfg.xml" /> </bean> -->

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven
		transaction-manager="transactionManager" />

	<!-- template engine -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">

		<!-- order = 0, spring se uu tien xu ly -->
		<!-- neu khong tim thay file, spring se den order = 1 -->
		<property name="order" value="0"></property>

		<property name="viewClass"
			value="org.springframework.web.servlet.view.tiles3.TilesView"></property>
	</bean>

	<!-- khai bao file tiles.xml -->
	<bean id="tilesConfigure"
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles.xml</value>
			</list>
		</property>
	</bean>

	<!-- khai bao noi chua file message.properties -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/message/message"></property>
	</bean>
</beans>